#content-left
  #title
    %p
      Logix
  #description
    %p
      Just press play button, choose the level you want with next/prev buttons and click the button with level name to load it. You can move with buttons or with arrow keys on your keyboard. Have fun!
#content-right
  #gallery
    #screenshot.clearfix
      #previous
        #triangle-left
      = image_tag("ss1.png",id: "image1",style: "opacity:1;",class: "clearfix")
      = image_tag("ss2.png",id: "image2",style: "opacity:0;",class: "clearfix")
      = image_tag("ss3.png",id: "image3",style: "opacity:0;",class: "clearfix")
      #next
        #triangle-right
