#game-wrapper
  #container.wrapper
    %canvas#canvas{width: "390", height: "390"}
#functions-wrapper
  #choose-time
    #chooselevel
      #new-level
        %p
          Previous level
      #levels
        #prevlvl
          %p
            Previous level
        #nextlvl
          %p
            Next level
      #levelbutton
        %p
          Level 1
  #play-time
    #arrows
      #counter.dirbutton
        %p
          Moves:
        %span
      %button#up.dirbutton
        Up
      #directions
        %button#left.dirbutton
          Left
        %button#right.dirbutton
          Right
      %button#down.dirbutton
        Down
