#game-wrapper
  #container.wrapper
    %canvas#canvas{width: "390", height: "390"}
#functions-wrapper
  .btn-group
    #easier.btn.btn-default
      Easier difficulty
    #harder.btn.btn-default
      Harder difficulty
    #typebutton.panel.panel-default
      Novice
  .btn-group
    #prevlvl.btn.btn-default
      Previous level
    #nextlvl.btn.btn-default
      Next level
    #levelbutton.panel.panel-default.btn-default
      Level 1
  #solve.panel.panel-default.center-block.btn-default.btn{ style: "width: 200px"}
    Solve!
  #counter.panel.panel-default.center-block{ style: "width: 200px"}
    Moves:

  #directions.btn-group{ style: "margin-top: 40px" }
    %span#left.btn.btn-default
      Left
    .btn-group.btn-group-vertical{ style: "margin-top: -17px" }
      %span#up.btn.btn-default
        Up
      %span#down.btn.btn-default
        Down
    %span#right.btn.btn-default
      Right

:javascript
  new_level()
